<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXwVjlIURgnX7KCghv71y2Llt_JUgIKSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1096965053624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EzraApp</string>
	<key>PROJECT_ID</key>
	<string>ezra-seminary-ffc4e</string>
	<key>STORAGE_BUCKET</key>
	<string>ezra-seminary-ffc4e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096965053624:ios:6d1113f7b5387036fb284d</string>
</dict>
</plist>